/* RAISED CARD */
.card {
    background-color: var(--background-dark);
    border-radius: var(--border-radius-mid);
    box-shadow: var(--drop-shadow);
    color: var(--color-mid);
}

/* LOWERED CARD */
.card-down {
    background-color: var(--background-dark);
    box-shadow: var(--inner-shadow);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
}
