/* TEXT INPUT */
.label {
    font-size: 0.75rem;
    color: var(--color-mid);
    text-transform: uppercase;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    transition: transform 0.2s linear, color 0.2s linear;
    user-select: none;
}

.input-text {
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
}

.input-text:placeholder-shown {
    color: var(--color-dark);
}

.input-text:focus{
    outline: none;
    color: var(--color-light);
}

.input-text:disabled {
    background-color: var(--background-convex);
    box-shadow: var(--drop-shadow);
    color: var(--color-dark);
}

.input-text:disabled ~ .label {
    color: var(--color-dark);
}



/* FILE INPUT */
.file-input-wrap {
    position: relative;
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
}

.input-file {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.file-input-text {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-dark);
    font-size: 1.25rem;
    pointer-events: none;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
}

.file-input-label {
    position: absolute;
    top: -1.5rem;
    left: 0.5rem;
    color: var(--color-mid);
    font-size: 0.75rem;
    text-transform: uppercase;
}



/* MULTIPLE FILES INPUT */
.multiple-files-input-wrap {
    position: relative;
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
}

.multiple-files-input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.multiple-files-input-label {
    position: absolute;
    top: -1.5rem;
    left: 0.5rem;
    color: var(--color-mid);
    font-size: 0.75rem;
    text-transform: uppercase;
}

.multiple-files-input-text {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-dark);
    font-size: 1.25rem;
    pointer-events: none;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
}



/* IMAGE INPUT */
.image-input-wrap {
    position: relative;
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
}

.image-input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.image-input-label {
    position: absolute;
    top: -1.5rem;
    left: 0.5rem;
    color: var(--color-mid);
    font-size: 0.75rem;
    text-transform: uppercase;
}

.image-input-text {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-dark);
    font-size: 1.25rem;
    pointer-events: none;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
}



/* MULTIPLE IMAGES INPUT */
.multiple-images-input-wrap {
    position: relative;
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
}

.multiple-images-input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.multiple-images-input-label {
    position: absolute;
    top: -1.5rem;
    left: 0.5rem;
    color: var(--color-mid);
    font-size: 0.75rem;
    text-transform: uppercase;
}

.multiple-images-input-text {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-dark);
    font-size: 1.25rem;
    pointer-events: none;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
}

.image-preview {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.25rem;
    position: relative;
}



/* TEXTAREA */
.textarea {
    width: 100%;
    height: 200px;
    border: 0;
    border-radius: var(--border-radius-mid);
    background-color: var(--background-concave);
    box-shadow: var(--inner-shadow-concave);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    resize: none;
    color: var(--color-mid);
}

.textarea:placeholder-shown {
    color: var(--color-dark);
}

.textarea:focus{
    outline: none;
    border: 0;
    color: var(--color-light);
}

.textarea::-webkit-scrollbar {
    width: 8px;
}

.textarea::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
    border-radius: var(--border-radius-mid);
}

.textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-mid);
}

.textarea:disabled {
    box-shadow: var(--drop-shadow);
    color: var(--color-dark);
}
