/* TEXT INPUT */
.label {
    font-size: 0.75rem;
    color: var(--color-mid);
    text-transform: uppercase;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    transition: transform 0.2s linear, color 0.2s linear;
    user-select: none;
}

.input-text {
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
}

.input-text:placeholder-shown {
    color: var(--color-dark);
}

.input-text:focus{
    outline: none;
    color: var(--color-light);
}

.input-text:disabled {
    background-color: var(--background-convex);
    box-shadow: var(--drop-shadow);
    color: var(--color-dark);
}

.input-text:disabled ~ .label {
    color: var(--color-dark);
}

/* FILE INPUT */
.file-input-wrap {
    position: relative;
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
}

.input-file {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.file-input-text {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-dark);
    font-size: 1.25rem;
    pointer-events: none;
}

.file-input-label {
    position: absolute;
    top: -1.5rem;
    left: 0.5rem;
    color: var(--color-mid);
    font-size: 0.75rem;
    text-transform: uppercase;
}

/* SELECT */

