/* TEXT INPUT */
.label {
    font-size: 0.75rem;
    color: var(--color-mid);
    text-transform: uppercase;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    transition: transform 0.2s linear, color 0.2s linear;
    user-select: none;
}

.input-text {
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
}

@media (max-width: 320px) {
  .input-text {
    min-width: 150px;
    font-size: 0.9rem;
  }
}

.input-text:placeholder-shown {
    color: var(--color-dark);
}

.input-text:focus{
    outline: none;
    color: var(--color-light);
}

.input-text:disabled {
    background-color: var(--background-convex);
    box-shadow: var(--drop-shadow);
    color: var(--color-dark);
}

.input-text:disabled ~ .label {
    color: var(--color-dark);
}



/* FILE INPUT */
.file-input-wrap {
    position: relative;
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
}

@media (max-width: 320px) {
  .file-input-wrap{
    min-width: 150px;
  }
}

.input-file {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.file-input-text {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-dark);
    font-size: 1.25rem;
    pointer-events: none;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
}

@media (max-width: 320px) {
  .file-input-text{
    font-size: 0.9rem;
  }
}

.file-input-label {
    position: absolute;
    top: -1.5rem;
    left: 0.5rem;
    color: var(--color-mid);
    font-size: 0.75rem;
    text-transform: uppercase;
}



/* MULTIPLE FILES INPUT */
.multiple-files-input-wrap {
    position: relative;
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
}

@media (max-width: 320px) {
  .multiple-files-input-wrap{
    min-width: 150px;
  }
}

.multiple-files-input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.multiple-files-input-label {
    position: absolute;
    top: -1.5rem;
    left: 0.5rem;
    color: var(--color-mid);
    font-size: 0.75rem;
    text-transform: uppercase;
}

.multiple-files-input-text {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-dark);
    font-size: 1.25rem;
    pointer-events: none;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 320px) {
  .multiple-files-input-text{
    font-size: 0.9rem;
  }
}



/* IMAGE INPUT */
.image-input-wrap {
    position: relative;
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
}

@media (max-width: 320px) {
  .image-input-wrap{
    min-width: 150px;
  }
}

.image-input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.image-input-label {
    position: absolute;
    top: -1.5rem;
    left: 0.5rem;
    color: var(--color-mid);
    font-size: 0.75rem;
    text-transform: uppercase;
}

.image-input-text {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-dark);
    font-size: 1.25rem;
    pointer-events: none;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
}

@media (max-width: 320px) {
  .image-input-text{
    font-size: 0.9rem;
  }
}



/* MULTIPLE IMAGES INPUT */
.multiple-images-input-wrap {
    position: relative;
    box-shadow: var(--inner-shadow-concave);
    background-color: var(--background-concave);
    border-radius: var(--border-radius-mid);
    color: var(--color-mid);
    border: 0;
    padding: 0 1rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
    min-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
}

@media (max-width: 320px) {
  .multiple-images-input-wrap{
    min-width: 150px;
  }
}

.multiple-images-input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.multiple-images-input-label {
    position: absolute;
    top: -1.5rem;
    left: 0.5rem;
    color: var(--color-mid);
    font-size: 0.75rem;
    text-transform: uppercase;
}

.multiple-images-input-text {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-dark);
    font-size: 1.25rem;
    pointer-events: none;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 320px) {
  .multiple-images-input-text{
    font-size: 0.9rem;
  }
}



/* TEXTAREA */
.textarea {
    width: 100%;
    height: 200px;
    border: 0;
    border-radius: var(--border-radius-mid);
    background-color: var(--background-concave);
    box-shadow: var(--inner-shadow-concave);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    resize: none;
    color: var(--color-mid);
}

@media (max-width: 320px) {
  .textarea {
    min-width: 150px;
    font-size: 0.9rem;
  }
}

.textarea:placeholder-shown {
    color: var(--color-dark);
}

.textarea:focus{
    outline: none;
    border: 0;
    color: var(--color-light);
}

.textarea::-webkit-scrollbar {
    width: 8px;
}

.textarea::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
    border-radius: var(--border-radius-mid);
}

.textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-mid);
}

.textarea:disabled {
    box-shadow: var(--drop-shadow);
    color: var(--color-dark);
}

@media (max-width: 320px) {
  .textarea:disabled {
    font-size: 0.9rem;
  }
}



/* CHECKBOX */
.checkbox {
  position: absolute;
  left: -9999px;
}

.checkbox-label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25em 0.75em;
  border-radius: 25px;
  cursor: pointer;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  color: var(--color-dark);
  line-height: 1;
  margin-right: 0.5em;
  transition: color 0.2s;
  box-shadow: var(--drop-shadow);
  background: var(--background-concave);
  border-radius: 50%;
}

.checkbox-icon {
  font-size: 1rem;
  color: var(--color-dark);
  line-height: 1;
  margin-right: 0.5em;
  transition: color 0.2s;
}

.checkbox-icon::before {
  content: '✗';
}

.checkbox:checked .checkbox-icon {
  box-shadow: var(--inner-shadow-concave);
  background: var(--background-convex);
}

.checkbox:checked + .checkbox-label .checkbox-icon {
  box-shadow: var(--inner-shadow);
  color: var(--color-light);
  background: var(--background-convex);
}

.checkbox:checked + .checkbox-label .checkbox-icon::before {
  content: '✔';
}

.checkbox-text {
  color: var(--color-dark);
  font-size: 1rem;
  white-space: nowrap;
  margin-left: 0.25rem;
}

.checkbox:checked + .checkbox-label .checkbox-text {
  color: var(--color-light);
}



/* SELECT */
.select-wrap {
  position: relative;
  width: 100%;
}

.select-arrow {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  pointer-events: none;
  color: var(--color-mid);
  font-size: 0.5em;
  transform: translateY(-50%) scaleX(1.5);
}

.select:disabled ~ .select-arrow {
  color: var(--color-dark);
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--background-concave);
  box-shadow: var(--inner-shadow-concave);
  border-radius: var(--border-radius-mid);
  border: 0;
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  font-size: 1.25rem;
  color: var(--color-mid);
}

@media (max-width: 320px) {
  .select {
    min-width: 150px;
    font-size: 0.9rem;
  }
}

.select:focus {
  outline: none;
  border: 0;
  color: var(--color-light);
}

.select:disabled {
  box-shadow: var(--drop-shadow);
  color: var(--color-dark);
}

@media (max-width: 600px) {
  .select-arrow  {
    right: 10px;
  }
}

@media (max-width: 450px) {
  .select-arrow  {
    display: none;
  }
}

@media (max-width: 320px) {
  .select:disabled {
    font-size: 0.9rem;
  }
}



/* MULTISELECT */
.multiselect-wrap {
  position: relative;
  width: 100%;
  height: 50px;
  color: var(--color-mid);
  display: flex;
  align-items: center;
  box-shadow: var(--inner-shadow-concave);
  padding: 0 1rem;
  border-radius: var(--border-radius-mid);
}

.multiselect-text {
  font-size: 1.25rem;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
}

.multiselect-arrow {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  pointer-events: none;
  color: var(--color-mid);
  font-size: 0.5em;
  transform: translateY(-50%) scaleX(1.5);
}

.multiselect-items-wrap {
  width: 100%;
  height: 0px;
  max-height: 200px;
  position: absolute;
  left: 0px;
  top: 55px;
  color: var(--color-mid);
  display: flex;
  flex-direction: column;
  box-shadow: var(--inner-shadow-concave);
  background-color: var(--background-concave);
  border-radius: var(--border-radius-mid);
  transition: height 0.2s ease;
}

.multiselect-item {
  width: 100%;
  height: 50rem;
  font-size: 1.25rem;
  color: var(--color-mid);
  text-indent: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.multiselect-item:first-child {
  border-top-left-radius: var(--border-radius-mid);
  border-top-right-radius: var(--border-radius-mid);
}

.multiselect-item:last-child {
  border-bottom-left-radius: var(--border-radius-mid);
  border-bottom-right-radius: var(--border-radius-mid);
}

.multiselect-item:hover {
  background-color: var(--background-mid);
}

.multiselect-item:first-child:hover {
  border-top-left-radius: var(--border-radius-mid);
  border-top-right-radius: var(--border-radius-mid);
}

.multiselect-item:last-child:hover {
  border-bottom-left-radius: var(--border-radius-mid);
  border-bottom-right-radius: var(--border-radius-mid);
}

.multiselect-item-selected {
  color: var(--color-light);
  background-color: var(--background-mid);
}
